---
Language: Cpp
BasedOnStyle: Google

# 缩进
IndentWidth: 4
TabWidth: 4
UseTab: Never
IndentCaseLabels: false
IndentCaseBlocks: false
NamespaceIndentation: None
AccessModifierOffset: -4

# 大括号风格
BreakBeforeBraces: Attach
BraceWrapping:
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

# 行宽
ColumnLimit: 100

# include 排序
SortIncludes: CaseInsensitive
IncludeBlocks: Regroup
IncludeCategories:
  # 对应头文件
  - Regex:           '^"[^/]*\.hpp"'
    Priority:        1
  # C++ 标准库
  - Regex:           '^<[a-z_]+>'
    Priority:        3
  # 第三方库
  - Regex:           '^<.*'
    Priority:        2
  # 其他
  - Regex:           '.*'
    Priority:        4

# 空格
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 2
SpacesInAngles: Never
SpacesInCStyleCastParentheses: false
SpacesInConditionalStatement: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

# 指针对齐
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

# 对齐
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignEscapedNewlines: Right
AlignOperands: Align
AlignTrailingComments: true

# 换行
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakConstructorInitializers: BeforeComma
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4

# 其他
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
FixNamespaceComments: true
ReflowComments: true
Standard: c++17
---
